<!DOCTYPE html>
<html>
    <% include partials/general_pages/_layout.ejs %>
    <body>
        <!-- Navigation -->
        <% include partials/general_pages/_navigation.ejs %>
        <!-- Content area (Tri-tab profile based marketplace)
            Must be done like this...no nested partials
            //TODO: Send user info to partial -->
        <section class="profile-section">
            <!-- Profile area //TODO: Send user info to partial -->
            <% include partials/profile_page/_profile_header.ejs %>
            <div class="container">
                <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link profile-nav active" id="nav-farmer-tab" data-toggle="tab" href="#nav-farmer" role="tab" aria-controls="nav-farmer" aria-selected="true">Farmer</a>
                    <a class="nav-item nav-link profile-nav" id="nav-grocer-tab" data-toggle="tab" href="#nav-grocer" role="tab" aria-controls="nav-grocer" aria-selected="false">Grocer</a>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-farmer" role="tabpanel" aria-labelledby="nav-farmer-tab"><% include partials/profile_page/_farmer.ejs %></div>
                <div class="tab-pane fade" id="nav-grocer" role="tabpanel" aria-labelledby="nav-grocer-tab"><% include partials/profile_page/_grocer.ejs %></div>
            </div>
        </section>
        <!-- Footer -->
        <% include partials/general_pages/_footer.ejs %>
    </body>
</html>
<!--
    //TODO: I'm going to re-work this entire page, so don't get attached to the formatting. ejs doesn't allow for nested partials because...?...so instead of learning handlebars...I'm making code ugly...:)
-->
