<!DOCTYPE html>
<html>
    <% include partials/general_pages/_layout.ejs %>
    <body>
        <!-- Navigation -->
        <% include partials/general_pages/_navigation.ejs %>
        <!-- Signup -->
        <% include partials/user_page/_signup.ejs %>
        <!-- Footer -->
        <% include partials/general_pages/_footer.ejs %>
    </body>
</html>
