<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Cropshare</h1>
            <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>
        </div>
    </div>
</header>
