<section class="user-section bg-light" id="users">
    <div class="container">
        <!-- Featured User Row-->
        <!-- Farmers are the main focus of this website as of now, making them the 'featured' users, may change later if convinced-->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5 featured-user">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="images/bg-masthead.jpg" alt="" /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Farmers</h4>
                    <p class="text-black-50 mb-0">Short blurb about how the farmers will use this website/software to improve their lives. links to farmer's marketplace if logged in, login page if not.</p>
                </div>
            </div>
        </div>
        <!-- Grocers Row-->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0 user">
            <div class="col-lg-6"><img class="img-fluid user-grocer-img" src="images/grocery_bag_1.png" alt="" />
                <div class="color-layer"></div>
            </div>
            <div class="col-lg-6">
                <div class="text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Grocers</h4>
                            <p class="mb-0 text-white-50">Short blurb as to how local grocers can use this product to benefit them. Links to grocery marketplace if logged in, login page if not.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Community Row-->
        <div class="row justify-content-center no-gutters user">
            <div class="col-lg-6"><img class="img-fluid user-community-img" src="images/community.png" alt="" />
                <div class="color-layer"></div>
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Community</h4>
                            <p class="mb-0 text-white-50">Another short blurb as to how individuals in the community can use this technology to better their lives. Links to community market place if logged in, login page if not.</p>
                            <hr class="d-none d-lg-block mb-0 mr-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
