<h3>Community</h3>
<!--
    Area for the user profile page regarding the community section
    Community is used by the community to request and use local farmer's
    land for smaller agriculture uses
-->
