<section class="farmer-section">
        <h3>Farmer</h3>
</section>
<!--
    Area for the user profile page regarding the farmer section
    Farmer section is used by local farmers to advertise their grown
    crops as well as their land they would offer for community use
-->
