<section class="grocer-section">
        <ul class="list-group grocer-list-group">
            <li class="list-group-item grocer-list-group-item">
                <div class="container">
                    <div class="row justify-content-center" id="grocer-tab-1">
                        <div class="col-xl-2 col-lg-2 col-md-2 col-xs-3"><img class="grocer-img" height="100" src="images/grocer_food_image.png" alt="" /></div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-xs-7">
                            <div class="row">
                                <div class="col-lg-8"><h2>[user.grocer.itemlist.1.name]</h2></div>
                                <div class="col-lg-8">[user.grocer.itemlist.1.quantity]</div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-xs-2">
                            <button type="button" class="btn btn-outline-light btn-sm" id="grocer-modal-button-1" data-toggle="modal" data-target="#grocer-modal-1" data-name="user.grocer.itemlist.1.name" data-quantity="user.grocer.itemlist.1.quantity" data-price="user.grocer.itemlist.1.price">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="modal grocer-modal fade" id="grocer-modal-1" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5>Edit Post</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="item-name-label" class="col-form-label">Item Name:</label>
                                        <input type="text" class="form-control item-name" id="grocer-modal-item-name-input-1">
                                    </div>
                                    <div class="form-group">
                                        <label for="item-quantity-label" class="col-form-label">Item Quantity:</label>
                                        <input type="text" class="form-control item-quantity" id="grocer-modal-item-quantity-input-1"></input>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-secondary btn-sm">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
</section>
